$blue: #579b9f;
$green: green;
$purple: #f0f;
.qchat{
    font-size: 14px;
    --main-color: #333;
    --bg-color: #ffffff;
    --grey: #999;
    --lightgrey: #dedede;
    --lightblue: #579b9f;

    height: 100vh;
    color: var(--main-color);
    background-color: transparent;

    ul{
        list-style: none;
        padding-left: 0;
    }
    &-wrapper, &-header{
        border-top-right-radius: 1em;
        border-top-left-radius: 1em;
    }
    &-wrapper{
        display: grid;
        grid-template-rows: auto 1fr auto;
        background-color: var(--lightgrey);
        height: 100vh;
        border: var(--lightgrey) 1px solid;
        border-top-left-radius: 1em;
        border-top-right-radius: 1em;
    }
    &-header{
        display: flex;
        justify-content: space-between;
        background-color: lighten($green, 70);
        align-items: center;
        padding: 0 1em;
        border-bottom: var(--bg-color) 1px solid;
    }
    &-nav{
        #qchat-nav, .qchat-nav-list{
            display: none;
        }
        &-trigger{
            &::before{
                font-family: "Font Awesome 5 Free";
                font-weight: 900;
                content: "\f0c9";
            }
        }
    }
    &-view-tools{
        display: flex;
        > li{
            button{
                border: none;
                background-color: transparent;
                &::before{
                    font-family: "Font Awesome 5 Free";
                    font-weight: 900;
                }
            }
        }
        &-minimize button::before{
            content: "\f068";
        }
        &-maximize button::before{
            content: "\f2d2";
        }
        &-close button::before{
            content: "\f410";
        }
    }
    &-body{
        padding: 1em;
        overflow: auto;
    }
    &-chatlist{
        display: grid;
        grid-gap: 2em;
        margin: 0;
        > li{
            display: grid;
            grid-gap:0.5em 1em;
            grid-template-columns: 5em 1fr 1fr;
            grid-template-rows: auto;
            grid-template-areas: "avatar username time" "avatar body body";
            align-items: center;
            width: calc(100% - 5em);
            background-color: var(--bg-color);
            padding: 0.5em;
            border-radius: 0.5em;
            border-bottom: var(--lightgrey) 1px solid;
            &.your-post{
                justify-self: flex-end;
                grid-template-columns: 1fr 1fr 5em;
                grid-template-areas: "time username avatar" "body body avatar";
                text-align: right;
                background-color: lighten($blue, 30);
                .qchat-chatlist-time{
                    text-align: left;
                }
            }
        }
        &-avatar{
                grid-area: avatar;
                border-radius: 50%;
        }
        &-username{
            grid-area: username;
        }
        &-time{
            grid-area: time;
            color: var(--grey);
            text-align: right;
            font-size: 0.7em;
            &::before{
                font-family: "Font Awesome 5 Free";
                font-weight: 900;
                content: "\f017";
            }
        }
        &-body{
            grid-area: body;
        }
    }
    &-communicate{
        display: flex;
        background-color: var(--bg-color);
        min-height: 7em;
        border-top: var(--bg-color) 1px solid;
        &-selectfile, &-submit{
            background-color: transparent;
            border: none;
            font-size: 2em;
            padding: 0.5em;
        }
        &-selectfile{
            display: flex;
            align-items: center;
            &::before{
                font-family: "Font Awesome 5 Free";
                font-weight: 900;
                content: "\f0c6";
            }
        }
        input[type="file"]{
            display: none;
        }
        &-textarea{
            flex-grow: 1;
            border:var(--lightgrey) 1px solid;
        }
        &-submit{
            &::before{
                font-family: "Font Awesome 5 Free";
                font-weight: 900;
                content: "\f27a";
            }
        }
    }
}