body{
    padding: 0;
    margin: 0;
    color: black;
    font-size: 14px;
    img{
        max-width: 100%;
    }
    .main{
        display: grid;
        grid-gap: 3em;
        align-items: center;
        grid-template-rows: auto;
        @media only screen and (min-width: 768px) {
            grid-template-columns: 1fr minmax(240px, 30vw) 10vmin;
        }
        height: 100vh;
        padding: 2em 1em;
        .quad-container{
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: auto;
            grid-gap: 1em;
            /* align-self: center; */
            transform: rotate(-45deg);
            .quad-container-item{
                position: relative;
                overflow: hidden;
                display: flex;
                align-items: center;
                transition: all 0.5s ease-in-out;
                &:hover{
                    transform: scale(1.2);
                    border: #f0f 2px solid;
                }
                > *{
                    transform: rotate(45deg);
                }
                img{
                    opacity: 0;
                }
                p{
                    position: absolute;
                }
                &::before{
                    content: "";
                    position: absolute;
                    width: 150%;
                    height: 150%;
                    top: -25%;
                    left: -25%;
                    z-index: -1;
                    background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/123941/background.png) 0 0 repeat;
                    background-position: center;
                    background-size: cover;
                    filter: grayscale(100%);
                    transform: rotate(45deg);

                    border:black 1px solid;
                }
                &:hover::before{
                    filter: grayscale(0%);
                }
                &:first-child::before{
                    background-image: url('/images/analogue-billiard-table-blur-2179865.jpg');
                }
                &:nth-child(2)::before{
                    background-image: url('/images/color-flora-flower-3014451.jpg');
                }
                &:nth-child(3)::before{
                    background-image: url('/images/animal-aquatic-aquatic-animal-2156311.jpg');
                }
                &:last-child::before{
                    background-image: url('/images/architecture-building-evening-3004075.jpg');
                }
            }
        }
    }
}