body {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto 1fr;
      grid-template-columns: auto 1fr;
  -ms-grid-rows: auto auto 1fr;
      grid-template-rows: auto auto 1fr;
      grid-template-areas: "brand header" "side-nav breadcrumb" "side-nav content-area";
  min-height: 100vh;
}

body .brand {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: brand;
}

body header {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: header;
  border-bottom: var(--lightgrey) 1px solid;
  border-left: var(--lightgrey) 1px solid;
}

body .side-nav {
  -ms-grid-row: 2;
  -ms-grid-row-span: 2;
  -ms-grid-column: 1;
  grid-area: side-nav;
  border-right: var(--lightgrey) 1px solid;
}

body .side-nav ul.nav {
  /* height: 100%; */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0;
  margin-top: auto;
  border-left: none;
  border-top: var(--lightgrey) 1px solid;
}

body .side-nav ul.nav li {
  padding: 1em;
  border-bottom: var(--lightgrey) 1px solid;
}

body .side-nav ul.nav li a {
  color: var(--main-color);
}

body .side-nav ul.nav li a::before {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  font-size: 1.5rem;
  content: "\f099";
}

body .side-nav ul.nav li a::after {
  margin-left: 2em;
}

body .side-nav ul.nav li.dashboard a::before {
  content: "\f009";
}

body .side-nav ul.nav li.dashboard a::after {
  content: "Dashboard";
  display: none;
}

body .side-nav ul.nav li.doctypes a::before {
  content: "\f15b";
}

body .side-nav ul.nav li.doctypes a::after {
  content: "Doctypes";
  display: none;
}

body .side-nav ul.nav li.modules a::before {
  content: "\f12e";
}

body .side-nav ul.nav li.modules a::after {
  content: "Modules";
  display: none;
}

body .side-nav ul.nav li.users a::before {
  content: "\f0c0";
}

body .side-nav ul.nav li.users a::after {
  content: "Users";
  display: none;
}

body .side-nav ul.nav li.pages a::before {
  content: "\f70e";
}

body .side-nav ul.nav li.pages a::after {
  content: "Pages";
  display: none;
}

body .side-nav ul.nav li.stylesheets a::before {
  content: "\f5fd";
}

body .side-nav ul.nav li.stylesheets a::after {
  content: "Stylesheets";
  display: none;
}

body .side-nav ul.nav li.scripts a::before {
  content: "\f1c9";
}

body .side-nav ul.nav li.scripts a::after {
  content: "Scripts";
  display: none;
}

body .side-nav:hover ul.nav li a::after {
  display: inline-block;
}

body .breadcrumb {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: breadcrumb;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0.5em 1em;
  border-top: var(--lightgrey) 1px solid;
  border-bottom: var(--lightgrey) 1px solid;
  margin: 1em 0;
}

body .breadcrumb li {
  color: var(--lightgrey);
}

body .breadcrumb li:not(:last-child)::after {
  content: "/";
  margin: 0 0.5em;
}

body .content-area {
  -ms-grid-row: 3;
  -ms-grid-column: 2;
  grid-area: content-area;
  padding: 0 1em;
}
/*# sourceMappingURL=xms-list.css.map */