$bg: #f2f4f8;
$dark: #313131;
$light: #ffffff;
$darkbg: #293145;
$darkhightligtbg: #323c58;
$grey: #999;
$darkgrey: #666;
$lightgrey: #dedede;
$green: #71c21a;
$blue: #097CFF;

body{
    --main-color: #{$dark};
    --bg-color: #{$light};
    --main-bg-color: #{$bg};
    --grey: #{$grey};
    --darkgrey: #{$darkgrey};
    --lightgrey: #{$lightgrey};
    --green: #{$green};

    background-color: var(--main-bg-color);
    color: var(--main-color);
    font-size: 16px;
    padding: 0;
    margin: 0;
    &.light{
        --main-color: #{$dark};
        --bg-color: #{$light};
        color: var(--main-color);
        background-color: var(--bg-color);
    }
    &.dark, table tbody tr:hover{
        --main-color: #{$light};
        --bg-color: #{lighten($darkbg, 10%)};
        color: var(--main-color);
        background-color: $darkbg;
    }
    &:not(.login-page){
        display: grid;
        grid-template-columns: auto 1fr;
        grid-template-rows: auto auto 1fr;
        grid-template-areas: "brand header" "side-nav breadcrumb" "side-nav content-area";
        min-height: 100vh;
        .brand{
            grid-area: brand;
        }
        header{
            grid-area: header;
            background-color: var(--bg-color);
            border-bottom: var(--lightgrey) 1px solid;
            border-left: var(--lightgrey) 1px solid;
        }
        .side-nav{
            grid-area: side-nav;
            background-color: var(--bg-color);
            border-right: var(--lightgrey) 1px solid;
            ul.nav{
                /* height: 100%; */
                display: flex;
                flex-direction: column;
                margin: 0;
                margin-top: auto;
                border-left: none;
                border-top: var(--lightgrey) 1px solid;
                li{
                    padding: 1em;
                    border-bottom: var(--lightgrey) 1px solid;
                    a{
                        color: var(--main-color);
                        &::before{
                            font-family: "Font Awesome 5 Free";
                            font-weight: 900;
                            font-size: 1.5rem;
                            content: "\f099";
                        }
                        &::after{
                            margin-left: 2em;
                        }
                    }
                    &.dashboard a{
                        &::before{
                            content: "\f009";
                        }
                        &::after{
                            content: "Dashboard";
                            display: none;
                        }
                    }
                    &.doctypes a{
                        &::before{
                            content: "\f15b";
                        }
                        &::after{
                            content: "Doctypes";
                            display: none;
                        }
                    }
                    &.modules a{
                        &::before{
                            content: "\f12e";
                        }
                        &::after{
                            content: "Modules";
                            display: none;
                        }
                    }
                    &.users a{
                        &::before{
                            content: "\f0c0";
                        }
                        &::after{
                            content: "Users";
                            display: none;
                        }
                    }
                    &.pages a{
                        &::before{
                            content: "\f70e";
                        }
                        &::after{
                            content: "Pages";
                            display: none;
                        }
                    }
                    &.stylesheets a{
                        &::before{
                            content: "\f5fd";
                        }
                        &::after{
                            content: "Stylesheets";
                            display: none;
                        }
                    }
                    &.scripts a{
                        &::before{
                            content: "\f1c9";
                        }
                        &::after{
                            content: "Scripts";
                            display: none;
                        }
                    }
                }
            }
            &:hover{
                ul.nav li a::after{
                    display: inline-block;
                }
            }
        }
        .breadcrumb{
            grid-area: breadcrumb;
            display: flex;
            background-color: var(--bg-color);
            padding: 0.5em 1em;
            border-top: var(--lightgrey) 1px solid;
            border-bottom: var(--lightgrey) 1px solid;
            margin: 1em 0;
            li{
                color: var(--lightgrey);
                &:not(:last-child){
                    &::after{
                        content: "/";
                        margin:0 0.5em;
                    }
                }
            }
        }
        .content-area{
            grid-area: content-area;
            padding: 0 1em;
            .page-title{
                grid-column: 1/-1;
            }
            .list-toolset{
                display: flex;
                flex-direction: row-reverse;
                max-width: 50%;
                float: right;
            }
        }
    }
}
p{
    margin-top: 0;
}
a{
    text-decoration: none;
    font-style: italic;
    color: var(--main-color);
    &:hover, &:active{
        text-decoration: none;
    }
}
ul{
    padding-left: 0;
    list-style: none;
}
img{
    max-width: 100%;
}
table{
    width: 100%;
    border-spacing: 0;
    line-height: 3em;
    thead, tfoot{
        text-align: left;
    }
    tr{
        td, th{
            border-bottom: var(--lightgrey) 1px solid;
            &:first-child{
                padding-left: 1em;
            }
        }
    }
}
label{
    cursor: pointer;
}
input{
    display: block;
    border: none;
    border-bottom: var(--main-color) 1px solid;

    &[type="text"], &[type="search"], &[type="tel"], &[type="email"], &[type="password"]{
        width: 100%;
        height: 2.5em;
        /* line-height: 3em; */
        background-color: transparent;
        color: var(--main-color);
        outline: none;
        font-size: 1.25rem;
        &:active, &:focus{
            border-bottom: none;
        }
    }
    &[type="checkbox"]{
        height: 2em;
        width: 2em;
        background-color: transparent;
    }
}
.close{
    &::after{
        padding: 0.5em;
        font-family: "Font Awesome 5 Free";
        font-weight: 900;
        content: "\f00d";
    }
}
.btn{
    display: inline-block;
    background-color: var(--main-color);
    color: var(--bg-color);
    font-size: 1rem;
    line-height: 2rem;
    padding: 0.5rem 2rem;
    margin: 0 1em 0 0;
    text-decoration: none;
    border-bottom: none;
    &-plain{
        background-color: var(--bg-color);
        color: var(--main-color);
        text-decoration: underline;
    }
    &-bordered{
        border: var(--green) 2px solid;
    }
    &:hover, &:active{
        border: var(--green) 2px solid;
    }
}
.form-control{
    display: flex;
    align-items: flex-end;
    position: relative;
    margin-bottom: 0.5em;
    label{
        width: 100%;
        height: 100%;
        position: absolute;
        bottom:0;
        padding-bottom: 0;
        color: var(--grey);
        pointer-events: none;
        transition: all 0.3s ease;
        &::after{
            width:0;
            border-bottom:none;
            transition: all 0.3s ease;
        }
    }
    & input{
        &:active, &:focus{
            & + label{
                /* padding-bottom:3em; */
                font-size: 0.75em;
                &::after{
                    position: absolute;
                    bottom:0;
                    content: "";
                    display: block;
                    width:100%;
                    border-bottom: var(--green) 2px solid;
                }
            }
        }
    }
}
.x-toggle-slide{
    input{
        display: inline-block;
        position: relative;
        width: 3em;
        height: 2em;
        appearance: none;
        outline: none;
        border-radius: 1em;
        border: none;
        
        &::before{
            content: "";
            display: block;
            position: absolute;
            left: 0;
            top: 0.5em;
            width: 3em;
            height: 1em;
            background-color: var(--main-color);
            border-radius: 0.5em;
        }
        &::after{
            content: "";
            display: inline-block;
            position: absolute;
            left: 0;
            width: 2em;
            height: 2em;
            background-color: var(--lightgrey);
            border-radius: 50%;
            z-index: 1;
        }
        &:checked::after{
            background-color: var(--green);
            left: auto;
            right: 0;
        }
    }
}
.x-toggle{
    input{
        display: inline-flex;
        position: relative;
        width: 4em;
        height: 2em;
        appearance: none;
        background-color: var(--main-color);
        outline: none;
        border-radius: 1em;
        box-shadow: 0 0 0 2px var(--grey), inset 0 0 05px rgba($dark, 0.75);

        &::before{
            content: "";
            position: absolute;
            width: 3em;
            height: 2em;
            background-color: var(--grey);
            border-radius: 1em;
        }
        &:checked::before{
            right: 0;
            background-color: var(--green);
        }
    }
}
.x-checkbox{
    input{
        display: none;
        &:checked + label::after{
            content: "";
            display: inline-block;
            position: absolute;
            left: 0.5em;
            top: 0.25em;
            
            width: 0.25em;
            height: 0.75em;
            border: solid var(--green);
            border-width: 0 3px 3px 0;
            transform: rotate(45deg);
            z-index: 1;
            /* left: 1em;
            background: var(--green); */
        }
    }
    label{
        display: inline-block;
        position: relative;
        padding-left: 3.5em;
        min-height: 1em;
        &::before{
            content: "";
            display: block;
            position: absolute;
            left: 0;
            width: 1.5em;
            height: 1.5em;
            background-color: var(--main-color);
        }
    }
}
.card, .x-modal-popup{
    background-color: var(--bg-color);
    border-radius: 0.5em;
    &.content{
        padding: 1em;
        margin: 1em;
    }
}
.x-modal{
    display: inline-block;
    margin: 0.25em;
    &-trigger, &-wrapper{
        display: none;
    }
    &-trigger{
        &:checked + label + .x-modal-wrapper{
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }
    &-wrapper{
        position: fixed;
        top: 0;
        left: 0;
        width:100%;
        height: 100%;
        background-color: rgba($dark, 0.75);
    }
    &-popup{
        width: 75%;
        background-color: var(--bg-color);
        @media (min-width: 360px){
            width: 50%;
            &.small{
                width: 30%;
            }
            &.large{
                width: 75%;
            }
        }
    }
    &-header, &-body, &-footer{
        padding: 1em;
    }
    &-header{
        display: flex;
        justify-content: space-between;
        border-bottom:  var(--lightgrey) 1px solid;
        .title{
            margin: 0;
        }
    }
    &-footer{
        border-top:  var(--lightgrey) 1px solid;
    }
}
.x-accordion{
    &-item{
        margin-bottom: 0.5em;
    }
    &-trigger/* , &-content */{
        display: none;
    }
    &-trigger{
        &:checked + label.title + .x-accordion-content{
            display: block;
            height: auto;
            overflow: auto;
            visibility: visible;
        }
    }
    label.title, &-content{
        padding: 0.5em 1em;
    }    
    label.title{
        display: block;
        font-weight: 600;
        background-color: var(--main-color);
        color: var(--bg-color);
    }
    &-content{
        height: 0px;
        transition: height 0.1s ease;
        visibility: hidden;
    }
}
.socials{
    display: flex;
    justify-content: space-evenly;
    margin: 0;
    margin-top: auto;
    li{
        a{
            color: var(--main-color);
            &::before{
                font-family: "Font Awesome 5 Brands";
                font-weight: 900;
                content: "\f099";
            }
        }
        &.facebook a::before{
            content: "\f39e";
        }
        &.youtube a::before{
            content: "\f167";
        }
        &.github a::before{
            content: "\f09b";
        }
        &.linkedin a::before{
            content: "\f0e1";
        }
    }
}